<div class='top'>Shopping Cart<img src='/images/cart1.png'></div>
<div class='panel'>
	<a href="/">Dashboard</a>
	<a href="/add">Add Item</a>
	<form action="/user/logout" method="POST">
			<button type="submit">Log Out</button>
	</form>
</div>	