<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Add Item</title>
	<link rel="stylesheet" type="text/css" href="style1.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<%- include('./partials/sellertop.ejs'); %>
	<div class='view width2'>
		<div class='viewtxt'>Add Item</div>
		<div id="error" class='msg1'></div>
		<form action="/add" method="POST" class='form1' enctype = "multipart/form-data">
			<div>
			<label>Item Name</label>
			<input type="text" placeholder="Enter item name" name="name" required class="namei">
			</div><div class="tarea">		
			<label>Description</label>
			<textarea type="text" placeholder="Enter item description" name="description" required rows='3'></textarea>
			</div><div>
			<label>Category</label>
			<select name='category'>
				<option value="Electronics">Electronics</option>
				<option value="Fashion">Fashion</option>
				<option value="Personal Care">Personal Care</option>
				<option value="Sports and Outdoors">Sports and Outdoors</option>
				<option value="Household">Household</option>
				<option value="Others" selected>Others</option>
			</select>	
			</div><div>
			<label>Price</label>
			<input type="number" placeholder="Enter price" name="price" id="price" required>
			</div><div>
			<label>Quantity</label>
			<input type="number" placeholder="Enter quantity" name="quantity" id="quantity" required>
			</div><div>
			<label>Image</label>
			<input type="file" name="image" id="image">
			</div>
			<span id="check1"> <button type="submit" id="submitbtn" class='btn2'>Add</button></span>
		</form>
	</div>
	<script src="/js/check.js"></script>
</body>
</html>